.main-banner {
    box-sizing: border-box;
    background-image: url(../../img/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 940px;
    border-bottom: 10px solid #000;
    padding-top: 300px;
    padding-left: 1050px;
}

.main-banner .wrapper {
    display: flex;
    flex-direction: column;
}

.main-banner .box {
    margin-bottom: 20px;
}

.main-banner .navigation {
    display: flex;
    justify-content: space-between;
}