.section {
    align-items: center;
    padding-top: 50px;
    background-color: #DB4A2B;
    height: 940px;
    border-bottom: 10px solid #FFF;
}

.section .main-title {
    margin-bottom: 100px;
}

.section.-bgBlack {
    background-color: #000;
    border-bottom: 10px solid #DB4A2B;
}