.title {
    padding-left: 20px;
    font-family: "Poppins",sans-serif;
    font-size: 60px;
    color: #FFF;
    text-shadow: 5px 1px 0px rgba(0, 0, 0, 0.25);
}

.title-skills {
    padding-top: 50px;
    text-align: center;
    font-family: "Press Start 2P",sans-serif;
    font-size: 50px;
    color: #FFF;
    text-shadow: 5px 1px 0px rgba(0, 0, 0, 0.25);
}